.imagem2{
    background-image: url(https://cdn.dribbble.com/userupload/3829630/file/original-e0e275874b52009a537484d7785b9fa0.png?compress=1&resize=1024x768);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}
