.imagem2{
    background-image: url(https://cdn.dribbble.com/userupload/3908319/file/original-1552bdb36ce487d984ba7e3f7677cf9d.png?compress=1&resize=1024x745);
    background-repeat: no-repeat;
    width: 50vh;
    min-height: 100vh;
    background-size: cover;
    background-position: left;
}

.textos2{
    font-weight: bold !important;
}

.btnCancelar{
    margin-right: 20px !important;
}
