.caixa{
    background-color: #ffffff;
}

.titulo{
    color: rgb(7, 3, 3) !important;
    font-weight: bold !important;
}

.botao{
    border-color: rgb(0, 0, 0) !important;
    background-color: #050303;
    color: rgb(0, 0, 0) !important;
}

.postagens{
    background-color: rgb(255, 255, 255);
}

.text-decorator-none{
    text-decoration: none;
}

.img-home{
    background-image: url(https://cdn.dribbble.com/userupload/3908320/file/original-a9f7f6f1350ae2b8f885aefb2dff889c.png?compress=1&resize=752x564&vertical=center);
    background-repeat: no-repeat;
    width: 50vh;
    min-height: 80vh;
    background-size: cover;
    background-position: center;
}

