.caixa{
    background-color: #51737A;
}

.titulo{
    color: white !important;
    font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #51737A;
    color: white !important;
}

.postagens{
    background-color: white;
}

