.caixa{
    background-color: #6C3D6C;
}

.titulo{
    color: white !important;
    font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #6C3D6C;
    color: white !important;
}

.postagens{
    background-color: white;
}

