.box1{
    background-color: #050302;
    height: 120px;
}

.box2{
    background-color: #0c0b0b;
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
    color: white;
}