.box1{
    background-color: #000213;
    height: 120px;
}

.box2{
    background-color: #000215;
    height: 60px;
}

.redes{
    font-size: 45px !important;
    color: white;
}

.textos{
    color: white;
}