.textos1{
    font-weight: bold !important;
}

.imagem{
    background-image: url(https://cdn.dribbble.com/userupload/4011897/file/original-1c951cec17172fd34e9e5384f840d2b6.png?compress=1&resize=1024x768);
    background-repeat: no-repeat;
    width: 40vh;
    min-height: 100vh;
    background-size: cover;
    background-position: right;
}

.text-decorator-none{
    text-decoration: none;
}

